*{
    margin: 0;
    padding: 0;
}
:root{
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
}

body{
  background-color: var(--violet);
  font-family: 'Open Sans', sans-serif;
  color: #ffff;
  height: 100vh;

}
 .logo{
  width: 30%;
  top: 50px;
  left: 50px;
  z-index: 1;
}

h1, p{
  font-family: 'Open Sans', sans-serif;

}
main{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 1em;

}


.img-mockup{
  width: 100%;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content{
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
} 