*{
    margin: 0;
    padding: 0;
}
:root{
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
}

body{
  background-color: var(--violet);
  font-family: 'Open Sans', sans-serif;
  color: #ffff;
  height: 100vh;

}
 .logo{
  width: 30%;
  position: absolute;
  top: 5%;
  left 15%;
  z-index: 4;
}

h1, p{
  font-family: 'Open Sans', sans-serif;

}
main{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;

}

.img-bg-mobile{
  z-index: 0;
  margin: 0 auto;
}

.img-mockup{
  width: 100%;
  position:absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content{
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
} 